#mostviews h2{
	text-align: center;
	font-size: 22px !important;
	color: #FF4797;
    padding: 10px 10px 5px 0 !important;
    display: block;
    margin-bottom: 10px;
    font-family: 'Roboto', Arial !important;
    font-weight: 300;
}

#mostviews img {
	display:block;
	position:relative;
	overflow:hidden;
	border-radius: 8px;
	margin: 0 auto;
	width: 100%;
}

#mostviews span.name {
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin-top: 25px;
}

/*
@media (max-width: 530px) {
	#mostviews .col-sm-6 .col-xs-3:last-child{
		display: none;
	}
}*/